<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="flex justify-between mx-6 my-3">  
   <div>Khaatabook</div>
   <div class=" flex gap-3">
    <a class="tracking-tight" href="">Home</a>
    <a class="tracking-tight" href="./create">Create New Hisaab</a>
</div>
  
    </div>
    <div class="mx-6 my-2">
    All hisaab kitaab  
  <% 
   if(files.length>0){%>
    <% files.forEach(function(file){
        %> 
        <div class="flex w-80 bg-blue-600 justify-between px-2 py-1 rounded-lg mt-3">
            <div class="flex gap-3 text-white text-lg">
                <p> <%= file %> </p>
                
                <a href=""> <i class="ri-arrow-right-line text-blue-500 rounded-full text-sm bg-white  p-1"> </i></a>
            </div>
            <div class="flex gap-4">
                <!-- <button  ></i></button> -->
                <a href=""><i class="ri-pencil-line text-white "></i> </a>
                <a href=""><i class="ri-delete-bin-line text-red-600 rounded-full text-lg bg-white p-1"></i></a>
    
            </div>
        </div> <%
    }) %>
    <% }
   else {%>
    <h3 class="text-zinc-500">currently nothig to show, create new hisaab to see something</h3>
    <% }
  %>
    </div>


</body>
</html>